.makes-panel.mat-mdc-select-panel {
  min-width: 360px !important;
  max-height: 400px; /* reasonable height for scrolling */
}
.mat-mdc-option.mdc-list-item {
    align-items: center;
    background: rgb(255, 255, 255);
}
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: rgb(197, 197, 197)!important; 
}
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    align-items: center;
    background: rgb(255, 255, 255);
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
   background: rgb(255, 255, 255);
}
.mat-mdc-icon-button {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    fill: currentColor;
    text-decoration: none;
    cursor: pointer;
    z-index: 0;
    overflow: visible;
    border-radius: var(--mat-icon-button-container-shape, var(--mat-sys-corner-full, 50%));
    flex-shrink: 0;
    text-align: center;
    width: var(--mat-icon-button-state-layer-size, 40px);
    height: var(--mat-icon-button-state-layer-size, 40px);
    padding: calc(calc(var(--mat-icon-button-state-layer-size, 40px) - var(--mat-icon-button-icon-size, 24px)) / 2);
    /* font-size: var(--mat-icon-button-icon-size, 24px); */
    color: var(--mat-icon-button-icon-color, var(--mat-sys-on-surface-variant));
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.cdk-overlay-pane {
    background-color: white;
    border-radius: 7px;
}
.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color{
    height: 6px;
    width: 78px;
    overflow: visible;    
    font-size: 16px;
}
mat-label{
    font-size: 19px!important;
}
.mat-mdc-select {
    font-size: 20px!important;
}
.mat-mdc-icon-button{
  font-size: 19px!important;
}
.mat-icon .notranslate .material-icons .mat-ligature-font .mat-icon-no-color{
    height: 20px!important;
    width: 20px!important;
    overflow: visible!important;
}
.mat-mdc-button-touch-target{
    font-size: 20px!important;
}